body {
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, rgb(47, 0, 255), rgb(7, 7, 6));
    margin: 2px;
}

.page-title {
    /* padding: 80px; */
    text-align: center;
    text-decoration: solid;
    /* background: #4d3af8; */
    color: white;
}

.page-title h1 {
    font-size: 20px;
}

.navbar {
    overflow: hidden;
    background-color: rgb(17, 2, 58);
}

.navbar a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.list-column {
    float: left;
    width: 60%;
    height: fit-content;
    border: #2e3131 solid;
}

.news-column {
    float: right;
    width: 40%;
    height: fit-content;
    border: #2e3131 solid;
}

.container {
    border: 1px solid rgb(80, 14, 235);
}

th,
td {
    color: rgb(39, 5, 117);
}

.w3-table-all tr:hover {
    background-color: #8c7bfa;
}

#searchInput {
    text-align: center;
    width: 15%;
    font-size: 16px;
    padding: 10px 10px 10px 40px;
    border: 1px solid #ddd;
    margin-bottom: 0px;
    float: left;
    color: white;
    text-align: center;
    padding: 14px 20px;
    /* text-decoration: none; */
}


/* Clear floats after the columns */

.currency-list:after {
    content: "";
    display: table;
    clear: both;
}

input.chkbox {
    opacity: 50%;
}


/* input.chkbox:hover {
    opacity: 1;
} */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: auto;
    text-align: center;
    background: #ddd;
    color: indigo;
}

.news-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: fit-content;
    color: cornsilk;
    flex-direction: column;
}

.news-card:hover {
    box-shadow: 0 8px 16px 0 rgba(119, 247, 15, 0.2);
}

.currency-card {
    /* max-width: 20%; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: fit-content;
}

.container[id$='-card'] {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background: linear-gradient(to right, rgb(240, 243, 232), rgb(7, 7, 6));
    transition: 0.3s;
    width: 20%;
    height: 10%;
    align-content: center;
}

.container[id$='-card']:hover {
    box-shadow: 0 8px 16px 0 rgba(211, 45, 45, 0.2);
}

.currency-card img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (min-width: 320px) and (max-width: 480px) {
    #searchInput {
        /* background-position: 10px 10px; */
        text-align: center;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 8px;
        padding: 10px 10px 10px 10px;
        border: 1px solid #ddd;
        margin-bottom: 0px;
    }
    .navbar {
        /* flex-direction: column; */
        /* overflow: hidden; */
        background-color: rgb(75, 15, 240);
    }
    .navbar a {
        float: initial;
        justify-content: space-around;
        display: block;
        color: white;
        text-align: center;
        flex-direction: row;
        padding: 2px 2px;
        text-decoration: none;
    }
    .list-column {
        /* float: left; */
        width: 100%;
        height: fit-content;
        border: #2e3131 solid;
    }
    .news-column {
        /* float: right; */
        flex-direction: column;
        width: 100%;
        height: fit-content;
        border: #2e3131 solid;
    }
    .currency-list:after {
        content: "";
        display: table;
        clear: both;
    }
    input.chkbox {
        opacity: 50%;
    }
    .news-card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        width: fit-content;
        color: cornsilk;
        flex-direction: column;
    }
    .news-card:hover {
        box-shadow: 0 8px 16px 0 rgba(119, 247, 15, 0.2);
    }
    .currency-card {
        /* max-width: 20%; */
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        height: fit-content;
    }
    .container[id$='-card'] {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        background: linear-gradient(to right, rgb(240, 243, 232), rgb(7, 7, 6));
        transition: 0.3s;
        /* width: 20%;
        height: 10%; */
        align-content: center;
    }
    .container[id$='-card']:hover {
        box-shadow: 0 8px 16px 0 rgba(211, 45, 45, 0.2);
    }
    .currency-card img {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: auto;
        text-align: center;
        background: rgb(25, 21, 235);
        color: rgb(250, 250, 246);
        font-size: 10px;
    }
}