body {
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, rgb(47, 0, 255), rgb(7, 7, 6));
    margin: 2px;
}

.page-title {
    /* padding: 80px; */
    text-align: center;
    background: #4d3af8;
    color: white;
}

.page-title h1 {
    font-size: 20px;
}

.navbar {
    overflow: hidden;
    background-color: rgb(17, 2, 58);
}

.navbar a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.list-column {
    float: left;
    width: 60%;
    height: fit-content;
    border: #2e3131 solid;
}

.news-column {
    float: right;
    width: 39%;
    height: fit-content;
    border: #2e3131 solid;
}

th,
td {
    color: rgb(39, 5, 117);
}

.w3-table-all tr:hover {
    background-color: #8c7bfa;
}

#searchInput {
    background-image: url('search.png');
    /* Add a search icon to input */
    background-position: 10px 12px;
    /* Position the search icon */
    background-repeat: no-repeat;
    /* Do not repeat the icon image */
    width: 100%;
    /* Full-width */
    font-size: 16px;
    /* Increase font-size */
    padding: 12px 20px 12px 40px;
    /* Add some padding */
    border: 1px solid #ddd;
    /* Add a grey border */
    margin-bottom: 12px;
    /* Add some space below the input */
}


/* Clear floats after the columns */

.currency-list:after {
    content: "";
    display: table;
    clear: both;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: auto;
    text-align: center;
    background: #ddd;
    color: indigo;
}