body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  .page-title {
    padding: 80px;
    text-align: center;
    background: #2e3131;
    color: white;
  }
  .page-title h1 {
    font-size: 40px;
  }
  .navbar {
    overflow: hidden;
    background-color: #333;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  }
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }

.list-column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .currency-list:after {
    content: "";
    display: table;
    clear: both;
  }
  footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
  }